$direction:ltr;
$right:right;
$left:left;
$senter:center;
$overflow: hidden;
$lineheight:23px;
$fontsize :14px;
$fontlurg :30px;
$fontbold:bold;
$none:none;
$inline: inline-block;
$block: block;
$fixed: fixed;
$zindex:1000;
$zero:0px;
$white:#fff;
$blue:#011250;
$red:#FF3636;
$green:#00E293;
$gray:#636363;
$yellow:#CA922A;
$beige:#fe6d04;
$colortext:#9DB3C0;
$color-input:#dfdfdf;
$colorselect:#c9c9c9;
$blak:#253136;
$color:#253238;
$ofwhite:#F9F9FB;
$minmargin:15px;
$maxmargin:30px;
$fullwidth:100%;
$com-spacing-1:4px;
$com-spacing-2:8px;
$com-spacing-3:12px;
$com-spacing-4:16px;
$com-spacing-5:20px;
$com-spacing-6:24px;
$com-spacing-7:32px;
$com-spacing-8:48px;
$com-spacing-9:64px;
$auto:auto;
$transparent:transparent;
$social: facebook #3b5998,
twitter #00acee,
instagram #8d5b46,
youtube #c4302b,
rss #ee802f,
linkedin #007fb1,
gplus #dd4b39,
whatsapp #189d0e,