extend index

block pageindex
  section.details
   div.container-fluid
    h2.title Lorem Ipsum Is simply Dummy
    div.de-text
     div.user
      img(src="images/user.png" alt="The VC Box" title="The VC Box")
      div.nameuser
       h3.name John Doe Engrad
       p.text  Dec 3 2020
     div.shareon
      p Share <br/>on:
      nav.social
       a(href="#" target="_blank" title="Facebook")
        svg(xmlns="http://www.w3.org/2000/svg" width="14.715" height="14.715" viewBox="0 0 14.715 14.715")
         g(id="facebook-2" transform="translate(0)")
          g(id="Group_5974" data-name="Group 5974" transform="translate(0)")
           path(id="Path_37" data-name="Path 37" d="M12.876,0H1.839A1.841,1.841,0,0,0,0,1.839V12.875a1.841,1.841,0,0,0,1.839,1.839H7.357V9.657H5.518v-2.3H7.357V5.518a2.759,2.759,0,0,1,2.759-2.759h1.839v2.3h-.92c-.508,0-.92-.048-.92.46V7.357h2.3l-.92,2.3h-1.38v5.058h2.759a1.841,1.841,0,0,0,1.839-1.839V1.839A1.841,1.841,0,0,0,12.876,0Z" transform="translate(0)" fill="#9db3c0")
       a(href="#" target="_blank" title="Twitter")
        svg(id="twitter" xmlns="http://www.w3.org/2000/svg" width="15.998" height="12.998" viewBox="0 0 15.998 12.998")
         path(id="twitter-2" data-name="twitter" d="M16,49.539a6.838,6.838,0,0,1-1.89.518,3.261,3.261,0,0,0,1.443-1.813,6.554,6.554,0,0,1-2.08.794A3.279,3.279,0,0,0,7.8,51.281a3.377,3.377,0,0,0,.076.748,9.283,9.283,0,0,1-6.76-3.43,3.281,3.281,0,0,0,1.008,4.383,3.239,3.239,0,0,1-1.482-.4v.036a3.3,3.3,0,0,0,2.628,3.223,3.273,3.273,0,0,1-.86.108,2.9,2.9,0,0,1-.621-.056,3.311,3.311,0,0,0,3.065,2.285,6.59,6.59,0,0,1-4.066,1.4A6.143,6.143,0,0,1,0,59.526,9.233,9.233,0,0,0,5.031,61a9.27,9.27,0,0,0,9.335-9.333c0-.145,0-.285-.012-.424A6.543,6.543,0,0,0,16,49.539Z" transform="translate(0 -48)" fill="#9db3c0")
    div.photo    
     img(src="images/details.jpg" alt="The VC Box" title="The VC Box")
    div.row
     div.col-sm-2.item-des
      div.text-inner
        h3.title Lorem Ipsum Is simply Dummy
      div.user
        img(src="images/user.png" alt="The VC Box" title="The VC Box")
        div.nameuser
         h3.name John Doe Engrad
         p.text  Dec 3 2020
      nav#navigation-menu.minlink
        a(href="#main-page") Main Page
        a(href="#contents") Contents
        a(href="#random-article") Random Article
        a(href="#aboutus") About us 
      div.shareon
        p Share  on:
        nav.social
         a(href="#" target="_blank" title="Facebook")
          svg(xmlns="http://www.w3.org/2000/svg" width="14.715" height="14.715" viewBox="0 0 14.715 14.715")
           g(id="facebook-2" transform="translate(0)")
            g(id="Group_5974" data-name="Group 5974" transform="translate(0)")
             path(id="Path_37" data-name="Path 37" d="M12.876,0H1.839A1.841,1.841,0,0,0,0,1.839V12.875a1.841,1.841,0,0,0,1.839,1.839H7.357V9.657H5.518v-2.3H7.357V5.518a2.759,2.759,0,0,1,2.759-2.759h1.839v2.3h-.92c-.508,0-.92-.048-.92.46V7.357h2.3l-.92,2.3h-1.38v5.058h2.759a1.841,1.841,0,0,0,1.839-1.839V1.839A1.841,1.841,0,0,0,12.876,0Z" transform="translate(0)" fill="#9db3c0")
         a(href="#" target="_blank" title="Twitter")
          svg(id="twitter" xmlns="http://www.w3.org/2000/svg" width="15.998" height="12.998" viewBox="0 0 15.998 12.998")
           path(id="twitter-2" data-name="twitter" d="M16,49.539a6.838,6.838,0,0,1-1.89.518,3.261,3.261,0,0,0,1.443-1.813,6.554,6.554,0,0,1-2.08.794A3.279,3.279,0,0,0,7.8,51.281a3.377,3.377,0,0,0,.076.748,9.283,9.283,0,0,1-6.76-3.43,3.281,3.281,0,0,0,1.008,4.383,3.239,3.239,0,0,1-1.482-.4v.036a3.3,3.3,0,0,0,2.628,3.223,3.273,3.273,0,0,1-.86.108,2.9,2.9,0,0,1-.621-.056,3.311,3.311,0,0,0,3.065,2.285,6.59,6.59,0,0,1-4.066,1.4A6.143,6.143,0,0,1,0,59.526,9.233,9.233,0,0,0,5.031,61a9.27,9.27,0,0,0,9.335-9.333c0-.145,0-.285-.012-.424A6.543,6.543,0,0,0,16,49.539Z" transform="translate(0 -48)" fill="#9db3c0")
 
     div.col-sm-10#content.item-des
         div#main-page.content
          h3.title Main Page
          p.text   By accessing the website at https://vcbox.com or  By accessing the website at https://vcbox.com or any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.
         div#contents.content
          h3.title Contents
          p.text   By accessing the website at https://vcbox.com or  By accessing the website at https://vcbox.com or any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.
         div#random-article.content
          h3.title Random Article
          p.text   By accessing the website at https://vcbox.com or  By accessing the website at https://vcbox.com or any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.
         div#aboutus.content
          h3.title   About us 
          p.text   By accessing the website at https://vcbox.com or  By accessing the website at https://vcbox.com or any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.any application in a subdomain, you are agreeing to be bound by these terms of service, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website and applications are protected by applicable copyright and trademark law.
  //-  End document-generator
  include ../pugjs/footer.pug


