header.header
 div.container-fluid  
  div(class="logo") 
   a(href='index.html')
    img(src="images/logo-inner.png" alt="The VC Box" title="The VC Box")
  div.menu
   form(class="form-search" action="#")
    input(type="text" placeholder="Search for terminology..." value="")
   nav.navmenu 
     a(href='document-generator.html' class='active') Document Generator
     a(href='contactus.html') Contact us
     a(href='terms-of-use.html') Terms of Use
  div.m-click 
   span.text menu
   span.menu-clos
