doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description' content='Lorem PugJs')
    meta(name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no')
    meta(name="keywords" content="")
    title The VC Box
    include ../includes/styles.pug 
    include ../includes/scripts.pug 
  body
     block pagemap
      include ../pugjs/header.pug
      <!--End Header-->
      block pageindex
       include ../pugjs/loading.pug
       include ../pugjs/landing.pug





   
     
     
       


      